.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
.banner {
  height: 600px;
  display: flex;
  align-items: center;
}
.banner-info {
  width: 40%;
  margin-left: 30px;
  color: white;
  z-index: 1;
}
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: "";
  background: linear-gradient(to right, black, transparent);
}
.movie-card {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.overlay {
  opacity: 0;
}
.movie-card:hover .overlay {
  opacity: 1;
  background: rgba(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}
